.noselect {
	-webkit-user-select:none;
	   -moz-user-select:none;
			user-select:none;
}
html,body {height:100%;}
body {
	background:#00ffff url(../imgs/bm.jpg);
	color:blue;
	font-family:'Microsoft Yahei', tahoma;
}
a {
	color:#2a373d;
}
a:hover {
	text-decoration:underline;
}
textarea {
	resize:none;
	border-radius:3px;
}

.btn {
	display:inline-block;
	padding:0;
	border:1px solid #6e6e6e;
	background:#e8e8e8 url(data-tmp:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAUCAIAAAAoW3v1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzcwQjNDMTBGODk0MTFFNUI5Nzg4QzUzRUE3MTExRkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzcwQjNDMTFGODk0MTFFNUI5Nzg4QzUzRUE3MTExRkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozNzBCM0MwRUY4OTQxMUU1Qjk3ODhDNTNFQTcxMTFGRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozNzBCM0MwRkY4OTQxMUU1Qjk3ODhDNTNFQTcxMTFGRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pt3+zNYAAAA8SURBVHjaYnz48CEDAwPLv3//IBQDhPoLov78+w3m/QGJMjGAAcuvX78QPJjgnz9/MATxUUCjMTUABBgA05wZj994C+cAAAAASUVORK5CYII=) repeat-x;
	color:#353535;
	cursor:pointer;
	border-radius:3px;
}
.btn:hover {
	border-color:#ac7727;
	background:#fbc82e url(data-tmp:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAUCAIAAAAoW3v1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODc4NUQ3NkFGODkzMTFFNUJEMUREQzU1NjAyNkJGMzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODc4NUQ3NkJGODkzMTFFNUJEMUREQzU1NjAyNkJGMzIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Nzg1RDc2OEY4OTMxMUU1QkQxRERDNTU2MDI2QkYzMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Nzg1RDc2OUY4OTMxMUU1QkQxRERDNTU2MDI2QkYzMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjkfYZkAAAAoSURBVHjaYnz/vpOBgYGFgeEzhOLFxWNiAAMoxfLqzT8MQQopgAADAJrTCGJgJRgbAAAAAElFTkSuQmCC) repeat-x;
	color:#1b1c1e;
}
.btn-red {
	border-color:#ac7727;
	background:#fbc82e url(data-tmp:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAUCAIAAAAoW3v1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjY0NURCOTNGODk1MTFFNTk0QzlCQkZEODRGOUE4REQiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QjY0NURCOTRGODk1MTFFNTk0QzlCQkZEODRGOUE4REQiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCNjQ1REI5MUY4OTUxMUU1OTRDOUJCRkQ4NEY5QThERCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCNjQ1REI5MkY4OTUxMUU1OTRDOUJCRkQ4NEY5QThERCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PvZUFqoAAAArSURBVHjaYnzX2sLAwMDEAAZoFOvHL1AekAUT/M3PgypHEsUC1Y5NDiDAAMZMCgvMHlb+AAAAAElFTkSuQmCC);
}
.btn-gary {
	background:#e7e7e7;
	border-color:#afafaf;
	color:#aaafad;
}
.btn-gary:hover {
	background:#e7e7e7;
	border-color:#afafaf;
	color:#aaafad;
}
.btn-xiala em {
	display:inline-block;
	margin-top:7px;
	width:0; height:0;
	border:4px dashed transparent;
	border-top:5px solid #454545;
	cursor:pointer;
}

.input-text {
	height:20px;
	border:1px solid #cbcbcb; border-top-color:#6e6e6e;
	background:#e7e7e7;
	font-size:12px;
	text-indent:.4em;
	border-radius:3px;
}
.input-text:focus {
	border-color-tmp:#6e6e6e;
	background:#f7f7f7;
}



.layer {
	display:none;
	position:absolute; left:0; top:0; z-index:9999;
	width:100%; height:100%;
	background-color:rgba(0, 0, 0, .3);
}
.layer-box {
	top:100px; left:50%;
	width:360px;
	
	-webkit-transform:translateX(-50%);
	   -moz-transform:translateX(-50%);
			transform:translateX(-50%);
}
.layer .layer-box label {
	width:80px;
}
.layer-box  .forminfo-item-radios label {
	width:auto;
}
.layer-box  .forminfo-item-radios input {
	position:relative; top:2px;
}


.allmap {
	display:none;
	position:absolute; top:100px; left:50%; z-index:9999;
	margin-left:-200px;
}
#allmap {
	width:400px; height:400px;
}

.wrapper {
	margin:0 auto;
	width:1280px;
}

.header {
	height:40px; line-height:40px;
	border-bottom:2px solid #2b9847;
	background:#66de59 url(../imgs/bg.png) repeat-x;
	color:#fff;
	box-shadow:0px 0px 5px #1a8036;
}
.nav {
	top:12px; right:0;
	overflow:hidden;
}
.nav li {
	float:left;
	margin-left:-1px;
	line-height:16px;
	border-left:1px solid #fff;
}
.nav li a {
	display:block;
	padding:0 12px;
	color:#fff;
}
.nav .login-point {
	display:inline-block;
	position:relative; top:1px;
	margin-left:8px;
	width:8px; height:8px; overflow:hidden;
	border:1px solid #f8d925;
	background:#f8d925;
	border-radius:50%;
	box-shadow:0px 0px 5px #f8d925;
}

.video-box {
	display:none;
	top:100px; left:50%; z-index:999;
	width:500px;
	
	-webkit-transform:translateX(-50%);
	   -moz-transform:translateX(-50%);
			transform:translateX(-50%);
}
.video-box video {
	width:100%; height:400px;
	background:#000;
}
.video-box .small {
	position:absolute; bottom:2px; right:4px;
}
.video-box .small video {
	border:1px solid #999;
	width:200px; height:150px;
}

.box {
	border:1px solid #2b9847;
	border-radius:10px 10px 2px 2px;
	box-shadow:2px 2px 5px #444;
}
.box-h {
	padding-left:12px;
	height:30px; line-height:30px;
	background:#66de59 url(../imgs/bg.png) repeat-x;
	color:#fff;
	font-weight:700;
	border-radius:10px 10px 0 0;
}
.box-h-close {
	margin-right:2em;
	color:#fff;
	font-size:14px;
}
.box-c {
	border:2px solid #46ce4a;
	background:#f7f7f7;
}

.forminfo {
	padding:10px 0;
	font-size:10px;
}
.forminfo-item {
	margin-top:6px;
}
.forminfo-item label {
	display:inline-block;
	margin-right:15px;
	width:110px;
	text-align:right;
}
.forminfo-item .input-text {
	width:220px;
}
.forminfo-item-btns .btn {
	margin-left:5px;
	padding:0 10px;
	font-size:12px;
}
.forminfo-textarea {
	width:220px; height:40px;
	border:1px solid #b9b9b9;
	background:#e7e7e7;
}
.forminfo-textarea:focus {
	border-color:#6f6f6f;
	background:#f7f7f7;
}


.forminfo2 .input-text {
	width:152px;
	background:#fff;
}
.forminfo2 textarea {
	width:320px; height:40px;
	border:1px solid #b9b9b9;
}
.forminfo2-r {
	right:10px; top:10px;
}
.forminfo2-r p {
	line-height:30px;
}
.forminfo2-r  textarea {
	width:180px; height:210px;
}

.forminfo3 label {
	width:95px;
}
.forminfo3 .input-text {
	width:100px;
	background:#fff;
}
.forminfo3 select {
	width:100px;
	font-size:12px;
}

.telphone {
	padding:15px 0 11px 0;
	font-size:10px;
}
.telphone-btns .btn {
	margin-top:2px;
	width:95px;
}
.telphone-btns .sm {
	width:48px;
}

.telphone-bh {
	margin:7px 10px 0;
}
.telphone-bh-l .input-text {
	margin-top:2px;
	width:165px;
	background:#fff;
}
.telphone-bh-hm {
	margin:5px 0 0 0;
	width:165px;
}
.telphone-bh-hm div {
	float:left;
	margin:2px 0 0 2px;
	width:51px; height:33px;
	border:1px solid #818181;
	background:#e8e8e8;
	font-size:13px; font-weight:700;
	text-align:center;
	cursor:pointer;
}
.telphone-bh-hm  div:hover {
	background:#fbc82e;
}
.telphone-bh-hm div p {
	font-size:8px; font-weight:400;
}
.telphone-bh-r {
	width:90px;
}
.telphone-bh-r .btn {
	margin-top:4px;
	width:88px; height:21px;
	background-image:url(data-tmp:image;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAUCAIAAAAoW3v1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MzFGMkRDRjdGODk1MTFFNUFCNTRFMDM3MzBDM0JDRDIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MzFGMkRDRjhGODk1MTFFNUFCNTRFMDM3MzBDM0JDRDIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozMUYyRENGNUY4OTUxMUU1QUI1NEUwMzczMEMzQkNEMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozMUYyRENGNkY4OTUxMUU1QUI1NEUwMzczMEMzQkNEMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkSd6VYAAABDSURBVHjaYvz54zsDAwPjxy9fQdT79+8xqZcvXyJRz58/B1Isv//+AVJMDGDA8v/vPyTev3//IBQDiuBfBA8rBRBgABccJFy/m/SVAAAAAElFTkSuQmCC);
}
.telphone-bh-r .btn:hover {
	background-image:url(data-tmp:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAUCAIAAAAoW3v1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6ODc4NUQ3NkFGODkzMTFFNUJEMUREQzU1NjAyNkJGMzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6ODc4NUQ3NkJGODkzMTFFNUJEMUREQzU1NjAyNkJGMzIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4Nzg1RDc2OEY4OTMxMUU1QkQxRERDNTU2MDI2QkYzMiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4Nzg1RDc2OUY4OTMxMUU1QkQxRERDNTU2MDI2QkYzMiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PjkfYZkAAAAoSURBVHjaYnz/vpOBgYGFgeEzhOLFxWNiAAMoxfLqzT8MQQopgAADAJrTCGJgJRgbAAAAAElFTkSuQmCC);
}



.tdd {
	padding:10px 10px 25px 10px;
	font-size:10px;
}
.tdd p {
	margin-top:5px;
}
.tdd textarea {
	width:278px; height:135px;
	border:1px solid #b9b9b9;
	background:#e7e7e7;
	font-size:12px;
}
.tdd .input-text {
	width:278px;
}



.call-list {
	margin-top:10px;
	font-size:10px;
}
.call-list-itmes {
	margin-top:6px;
	height:210px; overflow-y:scroll;
	color:#7f7d7f;
}
.call-list-itmes li {
	padding:0 8px;
	height:30px; overflow:hidden;
}
.call-list-itmes li:nth-child(odd) {
	background:#e7e7e7;
}
.call-list-itmes li  em {
	color:#143038;
}
.call-list-btns {
	padding:16px 0 11px;
	font-size:12px;
}

.recording {
	padding:15px 0 10px 0;
}
.recording-btns div {
	display:inline-block;
	width:28px; height:28px; overflow:hidden;
	background:#e8e8e8;
	border:1px solid #818181;
	color:#8a8e8f;
}
.recording-btns div:hover {
	background:#fbc82e;
	color:#143038;
	font-weight-:700;
	cursor:pointer;
}
.recording-btns div span {
	font-size:8px;
}
.recording-btns div p {
	position:relative; top:-2px;
	height:10px; line-height:10px;
	font-size:10px;
}
.recording-jd {
	margin:6px auto 0;
	width:200px; height:2px; overflow:hidden;
	background:#cdd2d0;
}
.recording-jd-k {
	margin:2px auto 0;
	width:196px; height:5px; overflow:hidden;
	border-left:2px solid #868686; border-right:2px solid #868686;
}
.recording-hander {
	margin:16px auto 10px;
	width:208px;
}
.recording-jd2 {
	height:2px; overflow:hidden;
	background:#cdd2d0;
	border:1px solid #9ba09e; border-top-color:#505453;
}
.recording-hander em {
	display:inline-block;
	position:absolute; top:-18px; left:-3px;
	width:0; height:0;
	border:8px dashed transparent;
	border-bottom:16px solid #ac7727;
	cursor:pointer;
}
.recording-hander em em {
	top:-9px; left:-9px;
	border-bottom:16px solid #fbc82e;
}

.png-t {
	margin:5px 0 0 8px;
	width:105px; height:15px;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGkAAAAPCAIAAABoTXYqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACjxJREFUeNrkmNlvFdcdx2fmzszdF/sa29gGbMdgG2x2kKBlEWqLKguokr4UpWmVlkRtFaT2rSpqi/raPMJLyUYrNWrSh4igVJVTwQMCFQRmLbsNdsFbvNxt7p3l3n5mfraJmj+gDz1Cw7nn/M45v/P9fX/Lsf706VNd16tBC4VCnufVarVwOFypVCKRiOM4iqIYhuG6rhI0ZlVVRVh+0uEnHQRYzlYsRCaRSMiSWtBkiRo0juCLsCznSx9h1nLu/Pw8I/RN02RWltNhBBnWMr50tL+cvTTV8VxEmTJ1w0PMcQ1dX9CTr1Lz2Aola54ZDmuqUnUco8a4YusKE7pbS5hRq1B0a1U9FXcdJ4yyTKgqqiua6nouWtZUpRYorAYKqA8fPuSA2dlZzpWLyTWAgCuhN32BAChjsZhczLZtX2dNQ5iv4M4XGb7MlstlxpfQZ5YONmCtmIfjGBHEBY5CocD+MoKALARNvgK3YCEGXgId4BQxXrCtpqhcgBuahglkvnoYSQvWqoqL/TTFRIeKbSoaU5YPoKpXlWrZjhimEtLmbCsei2llV9dCFcyg1DQ9xHmGaYIdWgWbcari48IlhSkoyjD9Je2j0ShXunjxYjabXbZsmTBLiCZsEmSFYoWgCXzsZlmW5qsXkj0BSLAW1ARBsUSxWGQKMcZZjtmQQQCshVzMYg85WqzLQnTzyeh5llXii/L+WTUlEo/zLRYLtQDQVDyeK+RTmXTIMCamJuPxOMeiF4yybccL+QwwdLMKlqrmgwsZbYeD2QTvwNpaSHMsq2zbgZnDVa+6oLlg5wVno430EeIC3B+Nr169imhHR8fc3Fw6nS6VSgLukgdBMfqI3bt3r729/cCBA6Am5KUJcwUy/HF8fHz58uX0GRHmSoiQcxlkN8SSySTjXtAymYxgPTMz09TUhPDY2NjNmzefPXsmTGfEq3pcpFKxsUBnR8f6/vXZbD03LzPk2PFE4i8ffdTQuOzbAwPDw8P/unWn+6Wu9pY2NeSpumq7DmAAUNmqwKzGpsbZuTnfwBXHDTBSqirRxDANuqViKRSY2efdl4EQTxQHYRwob9++TUDctWtXQ0PDo0ePWlpa5EpMcUnfRzSNK124cKG5ubmnpwfEAQ6UMS8nQShBTTyR+HDnzh12a21tXQphQr3z58/fvXtXeC0NIyHT2dm5f/9+dJicnGTtwMAA9uMsQAwFTVS1A1IIecFSqSks96plTdetchkSvff++y2tLWv7+3P5/IVLl9LJTDaTnZyecg0tGotq0TgRx616hVLx2fxMQ0N2rlj0bC+WSocjUcCdm58H0FQqlYjHOYb9+ffCAQUUnA6NMTX+wmXAbvXq1Y2Njfl8Hrywv6QROtxnenqaS46MjEC3vr4+fl6/fl1iIgICARtqQROPhjLEVsgCuBwhHBdn3LRp086dO0GBQeHj/fv3kRfggBvsWCgK53I5ySELGUMiD1HJMGLRaDKR5CdOyB3rs/VPR0dN00inMx/++cPvvPyK7XrQ7OI/L5/+0+m8W9mwccOPXn1tdmrq7CefPJ+YGH4+tm37ttzE9Piz8f4NG1//8Rtlu3L6j6evDQ1lG7JHjryxtqeH1LPgsxLdafQvXboEBHv27MG8qM7F2traII6EP2ElV0VFSdD19fUQbcuWLWD6/PlztpJATmMctmJ/roGrsjPExPdZe+bMmUOHDtFhWwlqAjdrJYeiDBuyP6hxEESDgBIBUInBy5cviz6SqST4+ulb05qbmjdv3qwbup9twwZeBuKJeOJ7hw+/98EHjx8Px5Ppiuut7u5+8yc/nSrlTp36w5aNm1Y2Nz8eGfnZ0bdmrPzbv3/7rSNvru7s+tWx3xBI/vrxxw8ePDhx4sTJkyfptx09mkokoZsuukKlamC0rq4ufBD35Bq4Xm9vL6QTcCXxCUkZ4Wd3dzesBBThAreSRAFqkJTLc0npQFum+OLFwhGWYxK2ZRBfYBUxjh0QEE04Ba0gKYECXouGAhYqHT58WCLGUk7D/TkIPnquh+tWgkinm7pj43NuSA+tXLmyr7/v1LvvNDUT6fS7Dx4M/uNzJWrEkonRf48tq6vbun1b77q143NffGP/t7rX9jak6zs7O2ZnZqenptjw7JlPyRvRSIT9BYcXeVZsjqJ4E56CogR1fjIroU0IJZGLewqb6IiLSeEiKQK3FSoBAV+gZJBMDViyRMoX5CUs+rXSYgKlAwQslN0QuHXrFghCJUFcwB0cHCSVSTKhYJCEU7bKLMzW12/dshXs9CDjGboRCVfz8/m6TGbHjh1nPv3MdvxM+s6pd3/4+g++eWjg+O+OBzWHWiwUWUJos23Wlf0w7TjpVDIWjbQ0N7/2/VcJeRxETIA8ftknFYYaGIpLohxWRUuuCgdZL7oiIKUcuCADmvgRVyLfsd21a9cmJibAFPuzj7LYBFCp4Nh8zZo1e/fuBTUhKVMMcnnJ1EJbYZ/wiyl0gNpkcMBCXujJiZAoHDR+EsjSmTojHE7XZWLxGIMEVr6EHVGjZFnxeIxov35d/3dffqWUK2TiqRUtbYN/G/zF0Z8Pfvb3cMgwdbOYK1g4uGFYxaKualaxYFessBn6+td2zM5MHzv2y+O//fX5c5+TUymu/exL7kNLQhtYiFo0gMCAuJKkQiloh4aGtm/fLtQTXkgqxE3IKlK7gey+ffuEpJIBJUgRBMAX1+MIHBmM+vv7+YoYDDp37hybsNyP8YErCHPXrVtHFnry5AlRD6BRQF4sSAKxz2tVwTn58rTAoSpWuYrPKmrJKgWU1GLxOBXM1aGh7p6ecCw2MfnF8OOxvt6+0tz8rTs3XVNN16U7lrdSJVmFwor2FTm3NPJkpLf9JdWrERw7u7pY/vDR4+GR4Ugsij4EcT+81oJ3BRpcuXKFi8EaNMZi4CL5XioJOlDjxo0bqC5+JP4lrip+NDo6Coh1dXWQSxayCXQDLCIaMhL1hVC7d+9mRCpMEMFIxFbKOjRh3Hc0w/BLVhwwm2Uf8PLj16JWHHf27Fn09Eurqh9K/ORlGoVCEYdqa2nds3t38LrwC3KrUkaGpxghwIhECvlyY0NLKVd0rTJYVKM8eCpkK7AzQ6FcMW/rZJ5qVA2BnaL5RQC1C4+KimMz4cmbDC1qQbzj/kAjKRLlYJPU6GgmFcPSA5Y+BhevlMJNyEVNwzgdAVQ4KBEN95EoTr6mKAMphCXwCxBM0Qc+5LXFJm8MSWLymuanvNj8Ci4SOXjwoARoNXhv6oEf+JLURoHmvmFqteBeHtRzXIcU7FZsI6TNz0wbmhGNmK5nWzk7mUpW8jleGgXL4m0W0sHQcKxKIhYn8ROXCAmFfN5/YwTlcbBzEKPxJsDCKfDTpZAvpYNEYnke0XiTrVq1iksKX/63TTL7l1stGFBrC5XAV5csDqnKwhM/qHCDBerC/75UNah3tRc7Li1U/mtTlcpF7AmC/p8hFmt9+TOGVHMSzhnB4Ih9Ve//z/YfAQYASDDI6DdEBGQAAAAASUVORK5CYII= );
	
}



